div{
    position: absolute;
    }
.row{
    position: absolute;
}
.container{
    margin: 0;
    padding: 0;
    background:white;
    height: 100%;
    width: 100%;
}
.bar{
    height: 50px;
    background:gray;
    width: 100%;
    color:black;
    text-align: center;
    text-transform: unset;    
}
    .bar1{
        background:white;
        height: 20px;
        width: 100px;
        margin-top: 15px;
        float:left;
        margin-left:10px;
    }

    .bar2{ width:50px;
           height:20px;
           margin-top:15px;
           background:white;
           float:left;
           left: 50%;
    }
       
    .box1{
        height: 450px;
        width: 650px;;
        background-color:darkorange;
         margin-top:5%;
         color:black;
         text-align: center;
         font-size: 30px;
         float: left;
         margin-left: 10px;

    }
        
    .box2{
    float: left;
    color: white;
    margin-top:5%;
    height: 450px;
    width: 600px;
    background-color: gray;
    margin-left:50%;

}
.row{
    height: 20px;
    width: 95%;
    background:orange;
    margin-top: 30px;
    padding: 10px;
    

}

.row1{
    height: 30px;
    background:black;  
    float: left;
    margin-left: 10px;
    color: white;
    padding-inline-start:3px;
    font-size: small;
}
.row1{
    height: 30px;
    background:black; 
    float: left; 
}

/*.row2{
    height: 20px;
    margin-top: 30px;
    width: 30px;
    background:black;
    padding: 10px;
    margin: 10px;
}
.row3{
    height: 20px;
    margin-top: 30px;
    width: 30px;
    background:black;
    padding: 10px;
    margin: 10px;
}
.row4
{
    height: 20px;
    margin-top: 30px;
    width: 30px;
    background:black;
    padding: 10px;
    margin: 10px;
}
.row5{
    height: 20px;
    margin-top: 30px;
    width: 30px;
    background:black;
    padding: 10px;
    margin: 10px;
}
.row6{
    height: 20px;
    margin-top: 30px;
    width: 30px;
    background:black;
    padding: 10px;
    margin: 10px;
}*/
