ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.navbar{
    list-style-type:none;
    margin:0;
    padding:0;
}
.navbar li{
    background:#000;
    width:150px;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    transition:all 0.25s ease-out 0s;
}
.navbar li:hover{
    background:#fff;
    color:#000;
    cursor: pointer;
    padding-top:15px;
}
.navbar li ul{
    display: none;
}
.navbar li:hover > ul{
    display: block;
}