body{
    padding: 0px;
    height:100%;
    width:100%;
    background:#3434;

}
h1{
    top:60%;
    left: 40%;
    color:white;
    font-size: 4rem;


}
.split-left{
    background:rgb(156, 63, 63);
    height: 100%;
    width: 50%;
}