
div{
position: absolute;

}
.webproject{
  height: 100%;
  width: 100%;
margin: 1%;
}
.bar{
    width: 100%;
    height: 30px;
    top: 10px;
}
.bar1{
text-decoration: underline;
 font-size: 20px;
} 
.bar2{
  font-size: 20px;
  left: 1000px;
}
.bar3{

font-size: 20px;
  left: 1150px;
} 

.box{
  top: 100px;
  height:400px;
  width: 600px;
transform: rotate(-90deg);
  }
.one{
text-transform: capitalize;
font-size: 80px;
height: 50px;
width:80%;
}
.one1{
top: 60px;
font-size: 80px;
height:50px;
    
}
.one2{
top: 120px;
height: 50px;
font-size: 80px;
   
}
.one3{
top: 180px;
height: 50px;
font-size: 80px;
opacity: 0.3;

    
}
  .one4{
top:240px;
 font-size: 80px;
 height: 50px;
 opacity: 0.3;
  
}
    .one5{
       top:300px;
    height:50px;
     font-size: 80px;
      opacity: 0.3;  
}
 .one6{
       top: 360px;
    height:50px;
     font-size: 80px;
      opacity: 0.3;  
}
.one7{
       top:420px;
    height:50px;
     font-size: 80px;
     opacity: 0.3;  
}
.one8{
       top: 200px;
    height: 300px;
    width:500px;
      left: 500px;
}
/*.one,.one1,.one2,.one3,.one4,.one5,.one6,.one7:hover{
  background: white;
  cursor: pointer;
  color: black;
}*/
.one1:hover{
  background:white;
  color:black;
  cursor: pointer;
}